#RewriteEngine On – включаем режим перенаправления запросов
RewriteEngine On

#RewriteCond %{SCRIPT_FILENAME} !-d – если в директории есть папка, соответствующая адресу запроса, то отдать её в ответе
RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteCond %{SCRIPT_FILENAME} !-f – если в директории есть файл, соответствующий адресу запроса, то вернуть его в ответе
RewriteCond %{SCRIPT_FILENAME} !-f

# RewriteRule ^(.)$ ./index.php?route=$1 [QSA,L] – если файл или папка не найдены, то для такого запроса
# выполнится этот пункт. В таком случае веб-сервер перенаправит этот запрос на скрипт index.php.
# При этом скрипту будет передан GET-параметр route со значением запрошенного адреса. $1 – это значение,
# выдернутое с помощью регулярки по маске ^(.)$. То есть вся адресная строка будет передана в этот GET-параметр.
# $1 - означает содержимое первой маски "(.*)"
RewriteRule ^(.*)$ ./index.php?route=$1 [QSA,L]

# ЧПУ
# Такие адреса через слэши называются ЧПУ – Человеко Понятные УРЛы. То есть адреса, которые нормально воспринимаются человеком.
# Согласитесь
# http://myproject.loc/hello/username
# лучше чем
# http://myproject.loc/?action=hello&name=username